!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SalesQuestant
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice
      = notice
    %p.alert
      = alert

    .header
      %h1
        sales Q
      %p ~営業のお悩み質問箱~
      - if user_signed_in?
        %ul
          %li
            = link_to "質問を投稿する", new_question_path, class: "link"
          %li
            = link_to "マイページ", "", class: "link"
          %li
            = link_to "サインアウト", destroy_user_session_path, method: :delete, class: "link"
      - else
        %ul
          %li
            = link_to "ログイン", new_user_session_path, method: :get, class: "link"
          %li
            = link_to "サインアップ", new_user_registration_path, method: :get, class: "link"

    = yield

    .fotter
      %h2.fotter__left sales Q

      %ul.fotter__mid
        %li
          お問い合わせ
        %li
          salesQについて
